In [ ]:
pip install pandas numpy faker

In [ ]:
#import necessary libraries
import pandas as pd
import numpy as np
from faker import Faker
import random
from datetime import datetime, timedelta
import os

#create a Faker instance
fake = Faker()

In [3]:
# Number of users and tasks
NUM_USERS = 10
TASKS_PER_USER = 20

# Priority levels
PRIORITY_LEVELS = ['Low', 'Medium', 'High']

In [11]:
# -----------------------------
# Step 1: Import libraries
# -----------------------------
import pandas as pd
import numpy as np
from faker import Faker
import random
from datetime import datetime, timedelta

# Initialize Faker
fake = Faker()

# -----------------------------
# Step 2: Define parameters
# -----------------------------
NUM_USERS = 10            # number of users
TASKS_PER_USER = 20       # tasks per user
PRIORITY_LEVELS = ['Low', 'Medium', 'High']

STATUS_OPTIONS = ['Completed', 'Pending', 'Not Completed', 'Postponed']
STATUS_PROBS = [0.6, 0.2, 0.1, 0.1]  # probability for each status

# -----------------------------
# Step 3: Generate dataset
# -----------------------------
data = []

for user_id in range(1, NUM_USERS + 1):
    for _ in range(TASKS_PER_USER):
        task_name = fake.sentence(nb_words=5)
        priority = random.choice(PRIORITY_LEVELS)
        status = np.random.choice(STATUS_OPTIONS, p=STATUS_PROBS)
        
        # Random creation date within last 30 days
        created_at = fake.date_time_between(start_date='-30d', end_date='now')
        
        if status == 'Completed':
            # completed tasks
            duration_hours = random.uniform(1, 72)
            completed_at = created_at + timedelta(hours=duration_hours)
        else:
            # Pending, Not Completed, Postponed
            completed_at = pd.NaT
            duration_hours = np.nan
        
        data.append({
            'user_id': user_id,
            'task': task_name,
            'priority': priority,
            'created_at': created_at,
            'completed_at': completed_at,
            'duration_hours': duration_hours,
            'status': status
        })

# -----------------------------
# Step 4: Convert to DataFrame
# -----------------------------
df = pd.DataFrame(data)

# Sort by user and creation date
df = df.sort_values(by=['user_id', 'created_at'])

# -----------------------------
# Step 5: Save to CSV
# -----------------------------
df.to_csv('../data/raw/tasks_dataset.csv', index=False)

# -----------------------------
# Step 6: Preview dataset
# -----------------------------
df.head(10)

,user_id,task,priority,created_at,completed_at,duration_hours,status
7,1,History different skin.,Medium,2025-10-07 13:26:36.309552,2025-10-08 08:57:02.856936,19.507374,Completed
3,1,Source meeting relationship store.,Medium,2025-10-07 17:17:10.042538,2025-10-08 03:20:59.082208,10.063622,Completed
19,1,Want prove leave want common last.,Low,2025-10-07 17:36:32.040249,2025-10-09 01:44:04.997562,32.125821,Completed
5,1,Meeting rich perhaps near eye.,High,2025-10-08 03:47:32.054472,NaT,NaN,Pending
18,1,Across age your.,Low,2025-10-08 07:50:28.092862,2025-10-09 23:57:05.437000,40.110373,Completed
8,1,Board sort relate power.,High,2025-10-10 02:11:12.199272,2025-10-12 16:31:06.227727,62.331675,Completed
12,1,Far maintain sister employee.,High,2025-10-14 14:15:35.696780,2025-10-16 06:54:49.614703,40.653866,Completed
17,1,This service yet onto color.,Low,2025-10-15 19:38:08.954478,2025-10-18 00:32:20.266951,52.903142,Completed
10,1,Design night create structure family.,High,2025-10-17 02:23:16.627281,NaT,NaN,Postponed
16,1,Station life small include maintain this.,Low,2025-10-18 16:32:35.084563,2025-10-21 14:35:40.016419,70.051370,Completed